<nav class="header ng-scope navbar navbar-default navbar-fixed-top">
<div class="container">
  <ul class="nav nav-pills pull-right">
    <li ng-class="{'active':resource=='Patient'}"><a ng-click="Patient()">Patient</a></li>
    <li ng-class="{'active':resource=='Condition'}"><a ng-click="Condition()">Conditions</a></li>
    <li ng-class="{'active':resource=='Observation'}"><a ng-click="Observation()">Observations</a></li>
    <li ng-class="{'active':resource=='MedicationOrder'}"><a ng-click="MedicationOrder()">Prescriptions</a></li>
    <li ng-class="{'active':resource=='MedicationDispense'}"><a ng-click="MedicationDispense()">Dispenses</a></li>
    <li ng-class="{'active':resource=='Procedure'}"><a ng-click="Procedure()">Procedures</a></li>
    <li ng-class="{'active':resource=='Immunization'}"><a ng-click="Immunization()">Immunizations</a></li>
    <li ng-class="{'active':resource=='FamilyMemberHistory'}"><a ng-click="FamilyMemberHistory()">Family Member History</a></li>
    <li ng-class="{'active':resource=='AllergyIntolerance'}"><a ng-click="AllergyIntolerance()">Allergies</a></li>
    <li ng-class="{'active':resource=='DocumentReference'}"><a ng-click="DocumentReference()">Documents</a></li>
    <li ng-class="{'active':resource=='ImagingStudy'}"><a ng-click="ImagingStudy()">Imaging Studies</a></li>
    <li ng-class="{'active':resource=='CarePlan'}"><a ng-click="CarePlan()">Care Plans</a></li>
  </ul>
</div>
</nav>

<h3 class="model">
  Data model: 
  <strong><a target="_blank" ng-href="{{resourceUrl()}}">
      FHIR {{resource}} Resource
    </a>
  </strong>
</h3>

<pre id="fetched">
{{fetchedData || "Fetching FHIR data..."}}
</pre>
